
@media only screen and (max-width: 1380px) {
  
   
   .app-login__content {
    width : 620px;
   }
   .app-login__content {
    width : 620px;
   }
 }
 
 
 @media only screen and (max-width: 1195px) {
     
       
      
 }
 
 @media only screen and (max-width: 990px) {  
    
    
    
   
 }
 
 
 @media only screen and (max-width: 766px) {
   
    
        .app-login__content {
            width : 95%;
           }
       
           .app-login__content {
            width : 95%;
           }
    
 }
 
 @media only screen and (max-width: 480px) {
    
    
       .app-login__content-title span {
        padding: 0px 1% !important;
        font-size: 21px;
       }
 }